<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>머신러닝 에디터</title>
  </head>
  <body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <h1>머신러닝 에디터에 오신 것을 환영합니다!</h1>
    <h2>버전 1: 경험 규칙</h2>
    <p> 이 버전의 머신러닝 에디터는 수동으로 만든 경험 규칙의 결과를 출력합니다.
        이 버전은 머신러닝을 사용하지 않고 단순히 요약 통계를 제공합니다.</p>
    <form action="" method="post">
        <div class="form-group">
            <label for="question">질문할 내용을 입력해 주세요.</label>
            <textarea class="form-control" rows="5" name="question" ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">추천 요청</button>
        <a href="/" class="btn btn-primary">메인 페이지로 돌아가기</a>
    </form>

  </body>
</html>