<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>머신러닝 에디터</title>
  </head>
  <body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <h1>머신러닝 에디터에 오신 것을 환영합니다!</h1>
    <h2>버전 3: 향상된 모델에서 얻은 추천을 적용합니다.</h2>
    <p> 이 버전의 머신러닝 에디터는 질문 품질 점수와 여러 추천을 춢력합니다.
        점수와 추천 모두 <a href="writers.stackexchange.com">writers.stackexchange.com</a>의
        질문 데이터셋에서 훈련된 모델로 구합니다.
        점수 모델은 질문이 평균적으로 더 많은 찬성(upvote) 개수를 받을지 예측하도록 훈련됩니다.
        설명 모델은 현재 예측 점수를 향상할 수 있는 가능성이 높은 추천을 생성하도록 훈련됩니다.
        이 데이터셋에 있는 질문은 (여러 개의 문장으로 구성되어) 긴 편이므로 샘플이 길 경우 잘 맞습니다.</p>
    <p>일부 경우 추천이 낮은 점수를 내도록 만들 수 있습니다.
      이는 설명 모델의 추정 오류이거나 우연히 나쁜 영향을 끼치는 다른 특성 때문일 수 있습니다.
      이 문제를 완화하려면 개선 과정을 여러번 반복하는 것이 좋습니다.</p>
    <form action="" method="post">
        <div class="form-group">
            <label for="question">질문할 내용을 입력해 주세요.</label>
            <textarea class="form-control" rows="5" name="question" ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">추천 요청 (1분정도 걸립니다)</button>
        <a href="/" class="btn btn-primary">메인 페이지로 돌아가기</a>
    </form>

  </body>
</html>